.wrapar{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
 

}
.container{
    position: fixed;
  width: 85vw;
 height: 100%;
    top: 0;
    right: 0;
   
    background-color: white;
    
    
    
   
}